/* CTA Section Styling */
.cta-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    position: relative;
    padding: 40px 20px;
    background-color: var(--background-color);
}

.cta-content {
    flex: 1;
    max-width: 800px;
    padding: 20px;
    z-index: 1;
    color: var(--secondary-text-color);
}

.cta-content p {
    font-size: 36px;
    font-weight: 500;
    line-height: 43.57px;
    color: var(--secondary-text-color);
    margin-bottom: 15px;
}

.cta-content strong {
    font-weight: bold;
    color: var(--text-color);
}

.cta-link {
    color: var(--link-color);
    text-decoration: none;
}

.cta-link:hover {
    text-decoration: underline;
}

.cta-buttons {
    display: flex;
    flex-direction: row;
    display: flex;
    
    align-items: flex-start;
    gap: 15px;
}

.cta-button {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 27px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.primary-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
}

.secondary-button {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.primary-button:hover,
.secondary-button:hover {
    background-color: #333;
    color: var(--button-bg-color);
}

@media (max-width: 768px) {
    .cta-section {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .cta-content {
        max-width: 100%;
        padding-right: 0;
    }
    .cta-buttons {
        margin-left: 0;
    }
}
